body{
	padding: 0;
	margin: 0;
 	width: 100%;
    height: 100%;
}

/*Поле ввода текста*/
.head-field input{
	width: 500px;
	height: 30px;
	padding: 5px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left:-250px;
	top: 50px;
	text-align: center;
	border: 1px solid #999999;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	outline:none;	//убирает рамку при щелчке по инпуту
}

/*Выпадающий список*/
.list-event .to-do-list {

	width: 460px;
	height: 30px;
	display: block;
	left: 50%;
	margin-left:-250px;
	top: 100px;
	text-align: left;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 40px;
	cursor: pointer;
  	position: relative;
  	background: #eee;
}

/*Другой цвет для нечетных элементов списка*/
.list-event .to-do-list:nth-child(odd) {
  background: #f9f9f9;
}

input::-webkit-input-placeholder { 
	text-align: left; 
	padding-left: 10px;
}